USE [master]
GO
/****** Object:  Database [HospitalDB]    Script Date: 28/08/2026 00:51:42 ******/
CREATE DATABASE [HospitalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDB_Primary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalDB_Primary.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB ), 
 FILEGROUP [STAGING_FG] 
( NAME = N'HospitalDB_Staging', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalDB_Staging.ndf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'HospitalDB_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalDB_Log.ldf' , SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 10240KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDB]
GO
/****** Object:  User [StagingUser]    Script Date: 28/08/2026 00:51:42 ******/
CREATE USER [StagingUser] FOR LOGIN [StagingUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AppUser]    Script Date: 28/08/2026 00:51:42 ******/
CREATE USER [AppUser] FOR LOGIN [AppUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  ColumnMasterKey [CMK_Auto1]    Script Date: 28/08/2026 00:51:42 ******/
CREATE COLUMN MASTER KEY [CMK_Auto1]
WITH
(
	KEY_STORE_PROVIDER_NAME = N'MSSQL_CERTIFICATE_STORE',
	KEY_PATH = N'CurrentUser/my/C84CDF9E1F7B30267A8318138218F8376234F7A2'
)
GO
/****** Object:  ColumnEncryptionKey [CEK_Auto1]    Script Date: 28/08/2026 00:51:42 ******/
CREATE COLUMN ENCRYPTION KEY [CEK_Auto1]
WITH VALUES
(
	COLUMN_MASTER_KEY = [CMK_Auto1],
	ALGORITHM = 'RSA_OAEP',
	ENCRYPTED_VALUE = 0x016E000001630075007200720065006E00740075007300650072002F006D0079002F00630038003400630064006600390065003100660037006200330030003200360037006100380033003100380031003300380032003100380066003800330037003600320033003400660037006100320055CBC0C41D055A87CD7CD161D1FB78C478153004CB034FEA0124A81250D63949A10B3E73C9E88B316A57819A624C8701E0495A78AA28E9C7E40865A5E6F7656FD57033EB1BBF5278A7CB8603D888DD807DD14FCD6346EAA0C9498A129CEF158692996EC6889A26F45BE09E97DB603943A080B0132563183539D13D75F9EF59E444EFED023F73EE6C739EDDE4DCDDC28AE4A247A5B996C0BFA4DCAFC65CC54DCD4CE5D51D4531EED455D100558BBD0E87964DC3EB586C3788C2A4DF74B5D92AA3C6E189054318C2D1507B7B6656C7437FDD675A09B11BAB5545E4C6C987952B690799DDCBAB9D77F78B381AEE6AA82E7EB96074325BB891D5C2A62E8BC46BA46005782D3B35E7A3CF524EB28B3A036E861652F54B556889CA4E23C5A3075986893CFEABE8B2321950BD6EBD67E655004D40D2C85344CF22281B4A7AB9F042EB6274C4A37BBDD600F9D6A5A62A68B20DF7555BA9B8B24A19EEF9D26B8F33F6275F9E98C0F7BD3EEE8C8D71770A02B0DE26EBACD5A12C20D9A394A45A6DE44E147E3B894EF8C0E2DB0CDB145DD42461BB45D59ACBF5842CBA5646D3BEC3F234CA3E044A4F4EFB7770EB970F27ADA0296618F8F09B3D0A01168922F2A0D9A9F3E68E9B06573F7F0088B64060A24CC0E8AA8DECAD5B628106AD5ADB43AA154ED67FE2FEB817224933C382DB13E09FC0E4CAE9C3EED7AF0ED5E99F770E98D0FB7A6892
)
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 28/08/2026 00:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[AppointmentDateTime] [datetime] NOT NULL,
	[Reason] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 28/08/2026 00:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Specialty] [nvarchar](100) NULL,
	[HireDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 28/08/2026 00:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[SSN] [char](11) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[RoomNumber] [varchar](10) NULL,
	[AdmissionDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempStaging]    Script Date: 28/08/2026 00:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempStaging](
	[StagingID] [int] IDENTITY(1,1) NOT NULL,
	[SourceSystem] [varchar](50) NULL,
	[Data] [nvarchar](max) NULL,
	[ProcessedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StagingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [STAGING_FG]
) ON [STAGING_FG] TEXTIMAGE_ON [STAGING_FG]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [DoctorID], [AppointmentDateTime], [Reason]) VALUES (1, 1, 1, CAST(N'2026-08-20T09:00:00.000' AS DateTime), N'Cardiology Consultation')
INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [DoctorID], [AppointmentDateTime], [Reason]) VALUES (2, 2, 2, CAST(N'2026-08-21T10:30:00.000' AS DateTime), N'Neurology Follow-up')
INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [DoctorID], [AppointmentDateTime], [Reason]) VALUES (3, 3, 3, CAST(N'2026-08-22T14:00:00.000' AS DateTime), N'Pediatric Check-up')
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorID], [FirstName], [LastName], [Specialty], [HireDate], [IsActive]) VALUES (1, N'Alice', N'Smith', N'Cardiology', CAST(N'2026-08-14' AS Date), 1)
INSERT [dbo].[Doctors] ([DoctorID], [FirstName], [LastName], [Specialty], [HireDate], [IsActive]) VALUES (2, N'Bob', N'Jones', N'Neurology', CAST(N'2026-08-14' AS Date), 1)
INSERT [dbo].[Doctors] ([DoctorID], [FirstName], [LastName], [Specialty], [HireDate], [IsActive]) VALUES (3, N'Charlie', N'Brown', N'Pediatrics', CAST(N'2026-08-14' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [SSN], [FirstName], [LastName], [DateOfBirth], [RoomNumber], [AdmissionDate]) VALUES (1, N'123-45-6789', N'John', N'Doe', CAST(N'1985-05-12' AS Date), N'101A', CAST(N'2026-08-14T15:34:31.777' AS DateTime))
INSERT [dbo].[Patients] ([PatientID], [SSN], [FirstName], [LastName], [DateOfBirth], [RoomNumber], [AdmissionDate]) VALUES (2, N'987-65-4321', N'Jane', N'Smith', CAST(N'1990-10-22' AS Date), N'204B', CAST(N'2026-08-14T15:34:31.777' AS DateTime))
INSERT [dbo].[Patients] ([PatientID], [SSN], [FirstName], [LastName], [DateOfBirth], [RoomNumber], [AdmissionDate]) VALUES (3, N'456-78-9012', N'Robert', N'Johnson', CAST(N'1978-01-15' AS Date), N'305C', CAST(N'2026-08-14T15:34:31.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (getdate()) FOR [AdmissionDate]
GO
ALTER TABLE [dbo].[TempStaging] ADD  DEFAULT (getdate()) FOR [ProcessedDate]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
USE [master]
GO
